<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Add Company</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form class="form example-form" #c="ngForm" (ngSubmit)="Addcompany(c)">
              <mat-form-field class="example-full-width">
                <mat-label>Company Name</mat-label>
                <input matInput ngModel name="companyname" placeholder="Company Name" required>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput ngModel name="publicaddress" placeholder="Address" required>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Document Hash</mat-label>
                <input matInput ngModel name="dochash" placeholder="Document Hash" required>
              </mat-form-field>
              <button mat-raised-button type="submit" [disabled]="c.invalid" class="btn btn-danger pull-right">Add
                Company
                <mat-icon>
                  <mat-spinner *ngIf="addloader" color="primary" diameter="20">
                  </mat-spinner>
                </mat-icon>
              </button>
              <div class="clearfix"></div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Company Details</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>


          <div class="card-body">
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input matInput ngModel name="privatekey" [(ngModel)]="address" placeholder="address" required>
            </mat-form-field>
            <button mat-raised-button type="button" (click)="getaddressid();"
              class="btn btn-danger pull-right">Details</button>
            <br><br>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{company_det.name || '-'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <td>{{company_det.pubAddr || '-'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">DocHash</th>
                    <td>{{company_det.docHash || '-'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Company Id</th>
                    <td>{{company_det.companyid || '-'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date</th>
                    <td>{{company_det.startDate || '-'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Update Company Address</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form class="form example-form" #u="ngForm" (ngSubmit)="Updatecompany(u)">
              <mat-form-field class="example-full-width">
                <mat-label>Company Id</mat-label>
                <input matInput ngModel name="companyid" placeholder="Company id" required>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput ngModel name="address" placeholder="Address" required>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Document Hash</mat-label>
                <input matInput ngModel name="dochash" placeholder="Document Hash" required>
              </mat-form-field>
              <button mat-raised-button type="submit" [disabled]="u.invalid" class="btn btn-danger pull-right">Update
                Company
                <mat-icon>
                  <mat-spinner *ngIf="newloader" color="primary" diameter="20">
                  </mat-spinner>
                </mat-icon>
              </button>
              <div class="clearfix"></div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Get Signed DocHash</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form class="form example-form" #sign="ngForm" (ngSubmit)="SignDoc(sign)">
              <mat-form-field class="example-full-width">
                <mat-label>Document Hash</mat-label>
                <input matInput ngModel name="dochash" placeholder="Document Hash" required>
              </mat-form-field>
              <button mat-raised-button type="submit" [disabled]="sign.invalid" class="btn btn-danger pull-right">Sing It
                <mat-icon>
                  <mat-spinner *ngIf="loader" color="primary" diameter="20">
                  </mat-spinner>
                </mat-icon>
              </button>
              <div class="clearfix"></div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

